<section class="section">
    <div class="container-fluid">
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <div class="row mb-2">
                            <div class="col-12 d-flex justify-content-between align-items-center">
                                <h3 class="text-gray"><b>Data Pekerja</b></h3>
                                <a class="btn btn-primary" href="/user/pekerja/create">Tambah Pekerja</a>
                            </div>
                        </div>
                        <div class="table-wrapper table-responsive" style="display: grid;">
                            <table id="thetable" class="table-style-1 stripe nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="text-center">No.</th>
                                        <th class="text-center">Nama Pekerja</th>
                                        <th class="text-center">Komplek</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach((item, index) => { %>
                                        <tr class="<%= index % 2 === 0 ? 'bg-primary-400' : 'bg-orange-400' %>" style="border-radius: 8px;">
                                            <td class="text-center rad-left no-bg" style="padding: 10px;"><%= index + 1 %></td>
                                            <td class="text-center" style="padding: 10px;"><%= item.USER_NAME %></td>
                                            <td class="text-center" style="padding: 10px;"><%= item.NAMA_KOMPLEK %></td>
                                            <td class="text-center rad-right no-bg" style="padding: 10px;">
                                                <div class="text-center">
                                                    <a class="btn btn-primary text-white mr-5" href="/<%= view.url %>/update/<%= item.USER_RID %>">
                                                        <i class="lni lni-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-danger text-white mr-5" onclick="confirmDelete('/<%= view.url %>/pekerja/delete/<%= item.USER_RID %>')">
                                                        <i class="lni lni-trash-can"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function() {
        $('#thetable').DataTable({
            "stripeClasses": ['bg-primary-400', 'bg-orange-400'],
            "paging": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "order": [],
        });
    });
</script>
<script>
    async function confirmDelete(link){
        Swal.fire({
            title: "System:",
            text: "Yakin untuk menghapus data ini?",
            icon: "info",
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: "Hapus",
            denyButtonText: `Batal`
            }).then((result) => {
            if (result.isConfirmed) {
                location.href=`${link}`
            } else if (result.isDenied) {
                Swal.fire({
                    title: "System:",
                    text: "Menghapus data dibatalkan",
                    icon: "error",
                });
            }
        });
    }
</script>